
@{
    ViewBag.Title = "HeadPhone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Content/style.css" />
}

<section class="product-gallery-one">
    <div class="container">
        <div class="product-gallery-one-content">
            <div class="product-gallery-one-content-title">
                <h2>ĐIỆN THOẠI NỖI BẬT NHẤT</h2>
                <ul>
                    <li><a href="">Xiaomi Redmi</a></li>
                    <li><a href="">IPhone</a></li>
                    <li><a href="">Samsung</a></li>
                    <li><a href="">IPad</a></li>
                </ul>
            </div>
            <div class="product-gallery-one-content-product">
                <div class="product-gallery-one-content-product-item">
                    <img src="~/image/product/product1.jpg" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                        <li>Online giá rẻ</li>
                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                        <li>10.990.000<sup>đ</sup></li>
                        <li>Quà 100.000<sup>đ</sup></li>
                        <li>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="~/image/product/product1.jpg" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                        <li>Online giá rẻ</li>
                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                        <li>10.990.000<sup>đ</sup></li>
                        <li>Quà 100.000<sup>đ</sup></li>
                        <li>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="~/image/product/product1.jpg" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                        <li>Online giá rẻ</li>
                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                        <li>10.990.000<sup>đ</sup></li>
                        <li>Quà 100.000<sup>đ</sup></li>
                        <li>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="~/image/product/product1.jpg" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                        <li>Online giá rẻ</li>
                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                        <li>10.990.000<sup>đ</sup></li>
                        <li>Quà 100.000<sup>đ</sup></li>
                        <li>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="~/image/product/product1.jpg" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>>
                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                        <li>Online giá rẻ</li>
                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                        <li>10.990.000<sup>đ</sup></li>
                        <li>Quà 100.000<sup>đ</sup></li>
                        <li>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="~/image/product/product1.jpg" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                        <li>Online giá rẻ</li>
                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                        <li>10.990.000<sup>đ</sup></li>
                        <li>Quà 100.000<sup>đ</sup></li>
                        <li>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="~/image/product/product1.jpg" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                        <li>Online giá rẻ</li>
                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                        <li>10.990.000<sup>đ</sup></li>
                        <li>Quà 100.000<sup>đ</sup></li>
                        <li>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="~/image/product/product1.jpg" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                        <li>Online giá rẻ</li>
                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                        <li>10.990.000<sup>đ</sup></li>
                        <li>Quà 100.000<sup>đ</sup></li>
                        <li>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="~/image/product/product1.jpg" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                        <li>Online giá rẻ</li>
                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                        <li>10.990.000<sup>đ</sup></li>
                        <li>Quà 100.000<sup>đ</sup></li>
                        <li>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="~/image/product/product1.jpg" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                        <li>Online giá rẻ</li>
                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                        <li>10.990.000<sup>đ</sup></li>
                        <li>Quà 100.000<sup>đ</sup></li>
                        <li>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
